<section id="crisis-opportunity-liability-asset">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><em>Crisis-Opportunity, Liability-Asset: Governing Vacant Land Reuse in Cleveland, Ohio</em></h2>
                <p>{{ include.portfolio.project2.category }} = Dissertation</p>
                <hr class="primary">
            </div>
        </div>
        <div class="col-md-12">
            <p>
                In 2007-2008, the city of Cleveland, Ohio, was hit particularly hard by the global home mortgage foreclosure crisis. Mortgage lending at subprime rates, i.e. higher interest rates justified by a higher risk of nonpayment, were very common. Claudia Coulton and her colleagues have shown that local subprime lending was predatory, focusing on selling unaffordable loans that particularly targeted African American borrowers. The foreclosure crisis deepened the effects of already-existing abandonment that has been occurring in Cleveland and cities like it since the 1940s. The combined effects of deindustrialization, suburbanization, and racial segregation have seen huge disinvestment in the core city. Together these have led to approximately 8% of the city’s parcels having vacant buildings and an additional 18% of parcels consisting of vacant lots according to a 2016 survey.
            </p>
            <p>
                Like other deindustrialized cities, Cleveland is using urban greening, including the creation of parks and urban agriculture, to address abandonment. Reuse projects on vacant lots show that despite abandonment, residents still care about their city. New economies of barter, charity, and entrepreneurism spring out of urban agriculture projects. But just because a lot is vacant does not mean it is necessarily available for public or private use; an array of legal issues often stands in the way of reuse.  Therefore, adapting to the foreclosure crisis through urban greening requires a change in the urban governance of vacant land, that is, who gets to make decisions about land use and property ownership and how. In Cleveland this requires studying community development industry, which includes nonprofits who build affordable housing, community foundations that fund them with mostly through corporate donations, and the City government, who distribute funding to many organizations.
            </p>
            <p>
                In my dissertation, <em>Crisis-Opportunity, Liability-Asset: Governing Vacant Land Reuse in Cleveland, Ohio</em>, I examine the governance of vacant land reuse Cleveland after the 2007-2008 crisis. My research project asks: how have efforts to reuse vacant land after the 2008 home mortgage crisis interacted with and changed urban governance structures? I use a multimethod approach uncommon in urban studies and geography to understand the structural political and economic changes that have created abandonment in Cleveland and influenced the local response. My methods are also multiscalar, examining processes of abandonment at the regional level (the Cleveland metropolitan area), responses at the City level, and zooming in to the neighborhood and parcel level to study resident participation in a vacant land reuse program called Re-imagining Cleveland. This approach captures how urban governance occurs through both structural political and economic change and the specific historical action of organizations and individuals.
            </p>
            <p>
                I undertake this approach through several interlinked investigations: a historical analysis of abandonment in Cleveland, a time series statistical model of housing vacancy in the Cleveland metropolitan area 1970-2010, an institutional analysis of the Cleveland’s community development industry, and a case study of volunteer labor and ideas of property in Re-imagining Cleveland. Overall, I argue that Cleveland’s community development industry saw vacant land reuse as a low-cost way to stabilize property values. I show how they use the ideas of strategic, targeted investment to demarcate some neighborhoods as deserving of intervention and some as too highly disinvested to save. I argue that this market-based logic continues to produce inequality. While Cleveland is doing more to proactively reuse abandoned land than many other cities, it needs to do more to prioritize social and environmental justice in vacant land reuse.
            </p>
            <p>
                My dissertation makes important contributions to the urban geography literature by bringing together approaches from studies of urban governance and urban greening. Past studies of urban greening often fail to put these programs in their larger political and economic context. My work unpacks how institutions responded to the crisis by turning to greening and to observe how their efforts relied on the uncertain labor of volunteers. The evidence I present demonstrates that urban greening is not a simple win-win, but requires a larger commitment to social and environmental justice to be successful. As more cities pursue urban greening, such a commitment is key to urban sustainability.
            </p>
            <p>
                Walker, Samuel. (2018). <em>Crisis-Opportunity, Liability-Asset: Governing Vacant Land Reuse in Cleveland, Ohio</em> (Ph.D. dissertation). University of Toronto, Toronto, ON.</h2>
            </p>
        </div>
    </div>
</section>
