<div class="col-lg-4 col-sm-6">
    <a class="portfolio-box page-scroll" data-toggle="modal" data-target="#projectModal">
        <img src="img/portfolio/{{ include.project.img }}" class="img-responsive" alt="{{ include.project.name }}">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-name">
                    {{ include.project.name }}
                </div>
                <div class="project-category text-faded">
                    {{ include.project.category }}
                </div>
            </div>
        </div>
    </a>
</div>
