<section id="crisis-opportunity-liability-asset">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.portfolio.project2.name }}</h2>
                <p>{{ site.portfolio.project2.category }}</p>
                <hr class="primary">
            </div>
        </div>
        <div class="col-md-12">
            <p>
                Training
            </p>
        </div>
    </div>
</section>
