<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 image-center">
                <img class="img-responsive img-circle" src="img/me.jpg" alt="Sam Walker headshot">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">We've got what you need!</h2> -->
                <hr class="light">
                <p class="text-faded">I’m a customer educator and community builder for technical software users. I leverage my teaching background and intellectual curiosity to transform users from novices to advocates.</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">View my projects</a>
            </div>
        </div>
    </div>
</section>
