<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Say Hello!</h2>
                <hr class="primary">
                <p>Want to get in touch? You can find me here:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://utoronto.academia.edu/{{ site.academia_username}}">
                <i class="fa fa-graduation-cap fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Academia.edu</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="#form" class="page-scroll">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Email</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>GitHub</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://www.researchgate.net/profile/{{ site.researchgate_username}}">
                <i class="fa fa-book fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>ResearchGate</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://scholar.google.ca/citations?user={{ site.google_scholar_id }}=en">
                <i class="fa fa-google fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Google Scholar</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Twitter</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://www.zotero.org/{{ site.zotero_username }}">
                <i class="fa fa-archive fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Zotero</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://goo.gl/maps/SjdrcyCeLbB2">
                <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>IRL</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container" id="form">
        <hr class="primary">
        <!-- "col-lg-8 col-offset-4" -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Or, send me a message:</p>
            </div>
            <form class="form-horizontal" method="POST" action="https://formspree.io/hello@samuel-walker.com">
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Your email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <label for="message">Message:</label>
                        <textarea name="message" class="form-control" placeholder="Your message"></textarea>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <button class="btn" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>
