<p>
    Walker, S. (2018). <i>Crisis-Opportunity, Liability-Asset: Governing Vacant Land Reuse in Cleveland, Ohio</i> (Ph.D. dissertation). University of Toronto, Toronto, ON.
</p>
<p>
    My dissertation contributes to the literatures on post-2007 urban governance and urban greening by drawing novel connections between vacant land reuse, including urban agriculture, and the structures of urban governance. Through a historical analysis of housing vacancy, an institutional analysis of Cleveland’s community development industry’s response to the 2008 foreclosure crisis, and a case study of a vacant land reuse project, I argue that Cleveland’s community development industry shifted towards vacant land reuse and intervention to stabilize property values in response to the foreclosure crisis. This shift reveals a temporary resolution of the failure of subsidized housing construction following the crisis, but does not represent a significant departure from neoliberal community development.
</p>
<p>
    While the City has been effective in fostering certain forms of reuse, the heavy involvement of the community development industry and community foundations, combined with a local government facing fiscal pressure, has resulted in a constrained political field of opportunity for vacant land reuse. By devolving the labor of lot maintenance onto residents and continuing to prioritize traditional economic development, many of the possibilities for using vacant land reuse for social and environmental justice have been limited. However, I also show that the incorporation of vacant land reuse within the community development industry in Cleveland was the outcome of a process of weak contestation, negotiation, and path dependency, not a simple imposition of neoliberal ideology. Additionally, my findings concerning reuse projects on the ground reveals the shortcomings of relying on under-resourced resident labor and shows cracks in the hegemony of private property and market logics in high-abandonment neighborhoods. My findings point to the importance of studying how greening projects are interacting with preexisting structures of urban governance. It suggests that the commodification of land and market-based community development places limits on vacant land reuse that directly benefits residents and works towards environmental and food justice.
</p>
<p>
    <a href="https://tspace.library.utoronto.ca/handle/1807/89789" class="btn btn-primary">View</a>
    <a href="https://tspace.library.utoronto.ca/bitstream/1807/89789/4/Walker_Samuel_201806_PhD_thesis.pdf" class="btn btn-primary">Download</a>
</p>
