<p>
    Walker, S. (2010, May). <i>Differential Perceptions of Buffelgrass (</i>Pennisetum ciliare<i>) in the Sonoran Desert of Tucson, Arizona</i> (BA Honors Thesis). Colgate University, Hamilton, NY. Retrieved from <a href="https://feastuoft.files.wordpress.com/2015/07/thesis-walker-2011.pdf">https://feastuoft.files.wordpress.com/2015/07/thesis-walker-2011.pdf</a>
</p>
<p>
    During my BA in Environmental Geography at <a href="https://www.colgate.edu/academics/departments-and-programs/geography">Colgate University</a> I conducted a research project on the invasive species buffelgrass (<i>Pennisetum ciliare</i>) in the Sonoran Desert of Tucson, Arizona. For this project I created and analyzed a mail survey which assessed the connection between residents’ perceptions of the desert, their environmental values, and their knowledge and opinion of buffelgrass. I used this research to write my <a href="https://feastuoft.files.wordpress.com/2015/07/thesis-walker-2011.pdf">honors BA thesis</a>, with <a href="https://faculty.ithaca.edu/jbrenner/">Jake Brenner</a> and <a href="https://www.colgate.edu/facultysearch/FacultyDirectory/jessica-graybill">Jessica Graybill</a> as my advisers.
</p>
<p>
    <a href="https://feastuoft.files.wordpress.com/2015/07/thesis-walker-2011.pdf" class="btn btn-primary">Download</a>
</p>
