<p>
    As Higher Education Developer and Analyst at <a href="https://www.safe.com">Safe Software</a>, I develop training modules for the data integration software FME. These modules are provided free of charge for instructors to use to teach FME. Each comes with a lecture and lab exercise, including real world scenarios and quizzes. These modules help instructors and students become familiar with the power of FME in an area relevant to their discipline.
</p>
<p>
    So far one module has been released, focusing on <a href="http://fme.ly/data-integration">Data Integration with FME Desktop</a>. It guides students through the process of setting up a centralized geodatabase that combines data from disparate locations and formats, while also illustrating the importance of data integration for modern organizations.
</p>
<p>
    <a href="http://fme.ly/data-integration" class="btn btn-primary">View</a>
</p>
