<p>
    Walker, S. (2013). <i>Growing ideology: urban agriculture in Vancouver and Detroit</i> (MA Thesis). University of British Columbia. Retrieved from <a href="https://elk.library.ubc.ca/handle/2429/44889">https://elk.library.ubc.ca/handle/2429/44889</a>.
</p>
<p>
	 This thesis is an investigation of the urban agriculture movements in Vancouver, British Columbia, and Detroit, Michigan. I use both quantitative and qualitative methods and an urban political ecology theoretical framework to unpack how urban agriculture fits within the foodscapes of these two cities. My quantitative method draws on recent critique of food desert studies, avoiding an epidemiological method that seeks to statistically measure health outcomes in favor of an ecological approach with social inequalities as the primary focus of inquiry.
</p>
<p>
   Through the use of cluster analysis, multidimensional scaling, and local indicators of spatial association, I conclude that foodscape composition and the location of urban agriculture is influenced by the housing and land markets, income inequality, and racial segregation. Drawing on interviews conducted in both cities, in my qualitative section I seek to understand how urban agriculture is seen as a sustainable solution to the very different problems faced by these two cities. I argue that urban agriculture has an ambivalent relationship to neoliberalism: it emerged largely as a Polanyian counter-movement to urbanized inequalities, but has more recently been enrolled as a device by the local state through which sustainability planning is seen to enhance economic competitiveness. Finally, I present vignettes of individual farms and gardens that show the political potential of urban agriculture to be closely linked to theories of political change and socionatural metabolic rifts.
</p>
<p>
    <a href="https://open.library.ubc.ca/cIRcle/collections/ubctheses/24/items/1.0074136" class="btn btn-primary">View</a>
    <a href="https://open.library.ubc.ca/media/stream/pdf/24/1.0074136/1" class="btn btn-primary">Download</a>
</p>
