<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Samuel Walker</h1>
            <hr>
            <p>I’m a customer educator and community builder for technical software users.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
