<!-- Modal -->
{% for project in site.data.projects %}
<div class="modal fade" id="{{ project.name | slugify }}Modal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="projectModalLabel">{{ project.name }}</h4>
            </div>
            <div class="modal-body">
                {% include {{ project.name | slugify }}.html %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
