<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for project in site.data.projects %}
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box page-scroll" data-toggle="modal" data-target="#{{ project.name | slugify }}Modal">
                        <img src="img/portfolio/{{ project.img }}" class="img-responsive" alt="{{ project.name }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{ project.name }}
                                </div>
                                <div class="project-category text-faded">
                                    {{ project.category }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              {% endfor %}
        </div>
    </div>
</section>
