<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" id="education">
                <h2 class="section-heading">Resume</h2>
                <hr class="primary">
                <h3>Education</h3>
            </div>
        </div>
    </div>
    <!-- Timeline -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="display:inline-block;width:100%;overflow-y:auto;">
                    <ul class="timeline timeline-horizontal">
                        <li class="timeline-item">
                            <div class="timeline-badge"><i class="fa fa-university wow bounceIn" data-wow-delay=".1s"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title"><a href="https://www.colgate.edu">Colgate University</a></h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-education"></i> B.A., Environmental Geography and German</small>
                                        <br>
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2007-2011</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseColgate" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Read more
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseColgate">
                                        <div class="card card-body">
                                            <p>
                                                <br>During my BA in Environmental Geography at Colgate University I conducted a research project on the invasive species buffelgrass (<em>Pennisetum ciliare</em>) in the Sonoran Desert of Tucson, Arizona. For this project I created and analyzed a mail survey which assessed the connection between residents’ perceptions of the desert, their environmental values, and their knowledge and opinion of buffelgrass. I used this research to write my honors BA thesis, with <a href="https://faculty.ithaca.edu/jbrenner/">Jake Brenner</a> and <a href="https://www.colgate.edu/facultysearch/FacultyDirectory/jessica-graybill">Jessica Graybill</a> as my advisers.</p>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-badge"><i class="fa fa-university wow bounceIn" data-wow-delay=".1s"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title"><a href="https://www.ubc.ca">University of British Columbia</a></h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-education"></i> M.A., Geography</small>
                                        <br>
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2011-2013</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseUBC" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Read more
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseUBC">
                                        <div class="card card-body">
                                            <p>
                                                <br>After graduating from Colgate I started my MA in Human Geography at the University of British Columbia with <a href="http://ibis.geog.ubc.ca/~ewyly/">Elvin Wyly</a> and <a href="http://ibis.geog.ubc.ca/~brian/">Brian Klinkenberg</a> as my supervisors. For my MA research project I compared the urban agriculture movements in Vancouver, British Columbia, and Detroit, Michigan, using both quantitative and qualitative methods. You can read my thesis <a href="https://circle.ubc.ca/handle/2429/44889">here</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-badge"><i class="fa fa-university wow bounceIn" data-wow-delay=".1s"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title"><a href="https://www.utoronto.ca">University of Toronto</a></h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-education"></i> Ph.D., Geography</small>
                                        <br>
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-2018</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseUofT" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Read more
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseUofT">
                                        <div class="card card-body">
                                            <p>
                                                <br> In 2013 I started my PhD in Human Geography at the University of Toronto with <a href="https://geography.utoronto.ca/profiles/sarah-wakefield/">Sarah Wakefield</a> as my supervisor. While at the University of Toronto I have worked as a Teaching Assistant for a course on the global food system, was active in <a href="http://cupe3902.org/">CUPE 3902</a>, and served as President of the <a href="http://ggapss.wordpress.com/">Graduate Geography and Planning Student Society</a> from 2014-2015. I also worked as a Research Assistant on a <a href="https://foodandlabour.ca/">project examining non-waged labor on Ontario’s agroecological farms</a> with <a href="https://utsc.utoronto.ca/geography/michael-ekers">Mike Ekers</a> and <a href="https://www.lakeheadu.ca/users/L/clevkoe">Charles Levkoe</a>. Since defending my dissertation in Feburary 2018 I am based in Vancouver, British Columbia, where I am developing higher education training content at <a href="http://www.safe.com">Safe Software</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                    </div>
                </div>
            </div>

            <!-- old education section
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="http://www.colgate.edu/">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <i class="material-icons md-48 wow bounceIn text-primary">usb</i>
                    <h3>Colgate University</a></h3>
                    <p class="text-muted">B.A., Environmental Geography and German</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="http://www.ubc.ca/">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <i class="material-icons md-48 wow bounceIn text-primary">usb</i>
                    <h3>University of British Columbia</a></h3>
                    <p class="text-muted">M.A., Geography</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="http://www.utoronto.ca/">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <i class="material-icons md-48 wow bounceIn text-primary">usb</i>
                    <h3>University of Toronto</a></h3>
                    <p class="text-muted">Ph.D., Geography</p>
                </div>
            </div>
        </div>
    </div>
-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center" id="employment">
                        <hr class="primary">
                        <h3>Employment</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="service-box">
                            <a href="https://www.safe.com/">
                                <i class="fa fa-4x fa-building wow bounceIn text-primary" data-wow-delay=".1s"></i>
                                <!-- <i class="material-icons md-48 wow bounceIn text-primary">usb</i> -->
                                <h3>Safe Software</a></h3>
                                <p class="text-muted">Team Lead, Customer Education: 2020 to present</p>
                                <p class="text-muted">Education Developer & Analyst: 2018 to 2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center" id="skills">
                        <hr class="primary">
                        <h3>Skills</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <!-- <i class="material-icons md-48 wow bounceIn text-primary">usb</i> -->
                            <h3>Spatial Data</h3>
                            <p class="text-muted">
                                FME<br>
                                Esri ArcGIS Desktop and Pro<br>
                                MapBox and MapBox Studio<br>
                                QGIS<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-calculator wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Statistics</h3>
                            <p class="text-muted">
                                Basic tests<br>
                                Factor analysis and PCA<br>
                                GLM and GLMM<br>
                                Regression<br>
                                R<br>
                                SPSS
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Technical Writing</h3>
                            <p class="text-muted">
                                Microsoft Office<br>
                                Zotero
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Qualitative analysis</h3>
                            <p class="text-muted">
                                In-depth interviews<br>
                                Coding using NVivo 11
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center" id="publications">
                        <hr class="primary">
                        <h3>Projects</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% include publications.html %}
                    </div>
                </div>
            </div>
</section>
