<p>
    Rosenman, E., & Walker, S. (2016). Tearing down the city to save it? “Back-door regionalism” and the demolition coalition in Cleveland, Ohio. <i>Environment and Planning A, 48</i>(2), 273–291.
</p>
<p>
    In this paper, we explore what Cleveland, Ohio’s program of demolishing abandoned and foreclosed houses can teach us about the logics and politics of post-2007 austerity urbanism. We investigate the emergence of a local political coalition that has promoted demolition as a solution to the city’s housing crisis. In tracking how this political consensus is spatialized, we analyze how demolition both supports and complicates existing theories of austerity urbanism. We theorize demolition as a spatio-temporal fix, a locally negotiated response to the larger-scale political-economic limits imposed by neoliberal austerity. This fix occurs at both the neighborhood level, where demolitions clear land for future reinvestment, and at the regional level, where the increasingly more-than-urban nature of the US housing crisis allows demolitions to gain regional support among fragmented municipalities. In the seemingly paradoxical pursuit of demolition as a growth strategy, political actors in cities like Cleveland aggressively push to tear down the city in a desperate attempt to save it.
</p>
<a href="https://dx.doi.org/10.1177/0308518X15609741" class="btn btn-primary">View</a>
<a href="https://bit.ly/1PCaaBv" class="btn btn-primary">Read Blog Post Summary</a>
