<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
    {% include modal.html %}
    {% include nav.html %}
    {% include header.html %}
    {% include bio.html %}
    {% include resume.html %}
    {% include portfolio.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>
